<section class="skills">
  <div class="techs-container">
    <h2 class="techs-h2">
      Technologies I love working with:
    </h2>

    <div class="filter-buttons">
      View:
      <a href="JavaScript:void(0)" data-ng-click="filter('all')" data-ng-class="{'selected':currentView === '' }" class="all">All</a>
      <a href="JavaScript:void(0)" data-ng-click="filter('js')" data-ng-class="{'selected':currentView === 'js' }" class="js">JS</a>
      <a href="JavaScript:void(0)" data-ng-click="filter('css')" data-ng-class="{'selected':currentView === 'css' }" class="css">CSS</a>
      <a href="JavaScript:void(0)" data-ng-click="filter('other')" data-ng-class="{'selected':currentView === 'other' }" class="other">other</a>
    </div>

    <div class="techs">
      <portfolio-tech ng-repeat="tech in $ctrl.techs | filter:currentView" tech="tech" class="card"></portfolio-tech>
    </div>
  </div>
</section>
