section.work {
  height: auto;
  min-height: 100vh;
  padding: 0;
  h1 {
    padding-left: 10px;
  }
}
.works-container {
  width: 100%;
  overflow: hidden;
}
.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  width: 120vw;
  position: relative;
  left: -10vw;
  @media screen and (max-width:780px) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 0;
    width: 100%;
  }
  .portfolio-screen {
    width: 25%;
    position: relative;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
    @media screen and (max-width:780px) {
      -webkit-transform: skewX(0);
              transform: skewX(0);
              height: 50%;
      &:hover {
        width: 25% !important;
      }
    }

    .hover-overlay {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #fff;
      top: 0;
      left: 0;
      opacity: 0;
      background: rgba(0,0,0,0.55);
      @media screen and (max-width:780px) {
        -webkit-transform: skewX(0);
                transform: skewX(0);
      }
    }

    &:hover {
      width: 80%;
      .hover-overlay {
        opacity: 1;
      }
    }
    &:last-child:hover {
      width: 100%;
      left: -6%;
    }
  }
  .work-preview {
    width: 200%;
    height: 100%;
    position: relative;
    left: -40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
    overflow: hidden;
    @media screen and (max-width:780px) {
      -webkit-transform: skewX(0);
              transform: skewX(0);
      width: 100%;
      left: 0;
    }
  }
}
@media screen and (min-width: 781px) {
  .description {
    max-width: 30%;
  }
}
